@import './base.css';

/* 荆南波波黑 */
@font-face {
  font-family: 'jing-nan-bo-bo-hei';
  src: url('./fonts/jing-nan-bo-bo-hei.ttf');
}

/* 联盟起艺卢帅正锐黑体 */
@font-face {
  font-family: 'lian-meng-qi-yi';
  src: url('./fonts/lian-meng-qi-yi.ttf');
}

/* 思源真黑-Bold */
@font-face {
  font-family: 'si-yuan-zhen-hei-Bold';
  src: url('./fonts/si-yuan-zhen-hei-Bold.ttf');
}

/* 托加里特体-Bold-2 */
@font-face {
  font-family: 'tuo-jia-li-Bold-2';
  src: url('./fonts/tuo-jia-li-Bold-2.otf');
}

/* 小米MiSans-Bold */
@font-face {
  font-family: 'mi-sans-Bold';
  src: url('./fonts/mi-sans-Bold.ttf');
}

[contenteditable] {
  outline: none;
}

#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
